@CHARSET "UTF-8";

*{
	magin:0;
	padding:0;
	text-decoration: none;
}
html,body{
	font-family: "adihrg","PingFangSC-Regular","Hiragino Sans GB","微软雅黑","Microsoft YaHei",sans-serif;
}
ul li{
	float:right;
	list-style: none;
}
#header{
	width: 100%;
	height: 30px;	
	background-color: #000;
}
#header-ul{
	color: #c8cbcc;
    line-height: 34px;
    font-size: 12px
}